/* ===== Character details ===== */
.char-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.char-details__sprite {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75rem;
}

.char-details__sprite img {
  max-height: 100%;
  width: auto;
  object-fit: contain;
  image-rendering: pixelated;
}

.char-details__title {
  font-size: 1.5rem;
  color: #392503;
  font-weight: 800;
  margin-bottom: 0.4rem;
}

.char-details__description {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  color: #443214;
  margin-bottom: 1.3rem;
}

/* Now dl instead of ul */
.char-details__stats {
  width: 100%;
  padding-top: 1rem;
  margin: 0;
  border-top: 2px dashed #6b4d3b;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.5;
  color: #241e15;
}

.char-details__stat {
  display: flex;
  justify-content: space-between;
}

.char-details__stat dt {
  font-weight: 700;
}

.char-details__stat dd {
  font-weight: 900;
  color: #392503;
}

.btn--choose-character {
  margin-top: auto;
  width: 100%;
}
